@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br /><br /><br /><br /><br />
    <h1 class="display-4">Welcome</h1>
    <p>We have this many available labs, namely <a asp-area="" asp-controller="AppleLab" asp-action="Index">Apple Lab</a>, <a asp-area="" asp-controller="SophosLab" asp-action="Index">Sophos Lab</a>, <a asp-area="" asp-controller="SophosRack" asp-action="Index">Sophos Rack</a>, <a asp-area="" asp-controller="VirtualRealityLab" asp-action="Index">Virtual Reality Lab</a>.</p>
</div>
